
.btn-outline-success{
    color: #0ae27e!important;
    /* border-color: #00ff89!important; */
}
.fixed-bottom {
    font-size: 1.5rem;
    position: fixed;    
    z-index: 1000; /* Adjust the value as per your needs */
  }